<%- include("partials/head.ejs") %>

<main>
    
    <%- include("partials/nav.ejs") %>
    
    <section class="seccion-main">

            <%- include("partials/header.ejs") %>
            
            <h2><%= about %></h2>

            <div class="contenedor-form">  
                <form id="getDoctor-form">
                    <label for="idProd">Id del doctor</label>
                    <input type="number" name="idProd" id="idProd" required>
                    
                    <input type="submit" value="Consultar doctor">
                </form>

                
            </div>
            <div class="separador separador-secciones"></div>
        </section>

        <section class="secccion-doctores">
            <hr>
            <div id="contenedor-doctor">

            </div>
        </section>
    </main>

    <script src="/js/delete.js"></script>
    
<%- include("partials/footer.ejs") %>