<%- include("partials/head.ejs") %>

<main>
    
    <%- include("partials/nav.ejs") %>
    
    <section class="seccion-main">
        
        <%- include("partials/header.ejs") %>

        <h2> <%= about %></h2>
            
            <div id="contenedor-doctores">

                <% doctorsArray.forEach(doctor => { %>

                <div class="card-doctor">
                        <div class="contenedor-info">
                            <img src="<%=doctor.image%>" alt="<%=doctor.nombre%>">
                            <h4>Nombre: <%=doctor.nombre%></h4>
                            <p>Id: <%=doctor.id_doctor%></p>
                            <p>Matricula: <%=doctor.matricula%></p>
                        </div>

                        <div class="contenedor-btn">
                            <a href="/dashboard/horarios?doctor=<%= doctor.id_doctor %>" class="btn btn-gestionar-horarios">
                                Gestionar horarios
                            </a>
                            <button class="btn btn-modificar">Modificar</button>
                            <button class="btn btn-eliminar">Eliminar</button>
                        </div>
                    </div>

                <% }) %>

            </div>
        </section>
    </main>

    <script src="/js/doctor.js"></script>

<%- include("partials/footer.ejs") %>   